<div class="container block">
  <h5>Danh sách bài đăng</h5>
  <p-table [value]="motelResponses" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Title</th>
        <th>Giá thuê</th>
        <th>Ảnh</th>
        <th>Trạng thái</th>
        <th>Người đăng</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-motelResponse>
      <tr>
        <td>{{ motelResponse.title }}</td>
        <td>{{ motelResponse.deposit }}</td>
        <td><img src="https://localhost:7202{{motelResponse.images}}" alt="phong" width="100px" height="80px"> </td>
        <td *ngIf="motelResponse.status == 2">
          <button class="btn btn-primary"disabled  style="
          border-radius: 10px;">
            Đợi phê duyệt
          </button>
        </td>
        <td *ngIf="motelResponse.status == 0">
          <button class="btn btn-success" disabled style="
          border-radius: 10px;">
            Thành công
          </button>
        </td>
        <td *ngIf="motelResponse.status == 1">
          <button class="btn btn-danger" disabled style="
          border-radius: 10px;">
            Khóa
          </button>
        </td>
        <td>{{ motelResponse.userName }}</td>

      </tr>
    </ng-template>
  </p-table>
</div>
